
<div class="container" id="backgroundHero">

	<%= image_tag("WhiteGoldLogo.png", :class => "logo" ) %>
	
</div>
<div id="inner">
	<center>
		<p>Alain Pinel Realtors® is partnering with Save Our Shores to clean up the Bay Area this summer! APR agents, staff, friends, and family are all invited to any of the 5 clean-up days around the Bay. Lunch is provided and all participants will receive a t-shirt.</p>
		<br>
		<h3>Please select a location below to RSVP.</h3>
	</center>
</div>
<div class="row" id="datarow"> 
	<center>
<div class="col-md-4" id="baylands"> 
	<div id="innerTitles3Row">
		<p> BAYLANDS<br>&nbsp;NATURE PRESERVE </p>
		<p><a class="divLink" href="https://aprcleanupbaylands.eventbrite.com/"></a></p>
	</div>
	<div  id="paloAlto"> 
	<center>
	<p>Palo Alto</p>
<p><b>Saturday, June 23rd</b></p>
<p>10 a.m. - 12:30 p.m.</p>
	</center>
</div>
</div>
<div class="col-md-4" id="ocean"> 
	<div id="innerTitles">
	<p> OCEAN<br>BEACH </p>
	<p><a class="divLink" href="https://aprcleanupsf.eventbrite.com"></a></p>
	</div>
	<div id="oceanBeach"> 
	<center>
	<p>San Francisco</p>
<p><b>Saturday, July 7th</b></p>
<p>10 a.m. - 12:30 p.m.</p>
	</center>
</div>
</div>
<div class="col-md-4" id="hellyer"> 
	<div id="innerTitles">
		<p> HELLYER<br>&nbsp;PARK </p>
		<p><a class="divLink" href="https://aprcleanupsouthbay.eventbrite.com/"></a></p>
	</div>
	<div id="hellyerPark"> 
	<center>
	<p>San Jose</p>
<p><b>Saturday, July 28th</b></p>
<p>10 a.m. - 12:30 p.m.</p>
	</center>
</div>

</div>
</center>
</div>
<br>


<div class="row" id="datarow2">
	<center>
<div class="col-md-6" id="kirby">
	<div id="innerTitlesKirby">
		<p> KIRBY<br>COVE </p>
		<p><a class="divLink" href="https://aprcleanupmarin.eventbrite.com/"></a></p>
	</div>
	<div id="kirbyCove"> 
	<center>
	<p>Marin</p>
<p><b>Saturday, August 11th</b></p>
<p>10 a.m. - 12:30 p.m.</p>
	</center>
</div>
</div>
<div class="col-md-6" id="oakland">
	<div id="innerTitlesOakland">
		<p> OAKLAND<br>ESTUARY </p>
		<p><a class="divLink" href="https://aprcleanupeastbay.eventbrite.com/"></a></p>
	</div>
	<div id="oaklandEstuary"> 
	<center>
	<p>Oakland</p>
<p><b>Saturday, August 18th</b></p>
<p>9:30 a.m. - 12:30 p.m.</p>
	</center>
</div>
</div>	
	</center>
</div>
<br>

<div id="footer">
	<div id="footerText"> 
	<center>&copy;2018 Alain Pinel Realtors&reg;</center>
	</div>
</div>
